body {
    line-height: 1.4;
    font-family: Arial,
    sans-serif;
    color: #2B332E;
    background: #FFFFDC;
    padding: 25px 80px 25px;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
A:visited {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #CC3333;
    background-color: transparent;
    text-decoration: none;
}

.footer {
    font-style: italic;
}

