body {
    line-height: 1.4;
    font-family: Arial,
    sans-serif;
    color: #2B332E;
    background: #FFF;
    width: 100%;
    height: 100%;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
A:visited {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #CC3333;
    background-color: transparent;
    text-decoration: none;
}

.footer {
    font-size: 0.8em;
    color: #808080;
}

